/* Your Website Styles */
body {
  background: url("../img/crossword.png");
}
h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
  font-family: 'Lobster Two', serif;
  font-size: 75px;
 
  color: #343434;
}
p {
  text-align: center;
  font-family: "Droid Serif", serif;
  color: #343434;
  font-size: 25px;
  margin-bottom: 80px;
  margin-top: 10px;
}

h2 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 10px;
  
  font-family: "Droid Serif", serif;
  font-size: 30px;
  color: #343434;
}

h2 + p {
 
  text-align: center;
  font-family: "Gafata", serif;
  color: #343434;
  font-size: 19px;
  margin: 0 20px;


}



/* Gallery Stying */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/


.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
    border-bottom: 4px double rgb(107,184,198);
  border-top: 4px double rgb(107,184,198);
  
  

}

.gallery .controls {
  position: absolute;
  bottom: -100px;
  width: 100%;
  text-align: center;

}
.gallery .controls img {
  border: 3px solid rgb(107,184,198);
  border-radius: 75px;
  width: 50px;
  margin: 0 10px;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

img {
  max-width: 100%;
}


/* Media Queries */


@media screen and (max-width: 665px){

.gallery .item {
  height: 350px;
}
  
h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;

}


}

@media screen and (max-width: 570px){

  .gallery .item {
  height: 300px;
  }
  h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 60px; 

}
p {
  margin-bottom: 60px;
  margin-top: 10px;
  font-size: 20px;
}
h2 {

  font-size: 25px;
 
}

h2 + p {
 

  font-size: 15px;
 

}
@media screen and (max-width: 485px){

  .gallery .item {
  height: 250px;
  }

}
@media screen and (max-width: 406px){

 .gallery .controls {
  
  bottom: -100px;
  width: 100%;
}
  .gallery .controls img {
  border: 2px solid rgb(107,184,198);
  border-radius: 75px;
  width: 40px;
  margin: 0 5px;
}
  

}


